
.logo img{
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right{
    display: flex;
    gap: 34px;
    align-items: center;
    
    
}
.ones{
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0 5px;

}
.article{
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  text-decoration: none;
  color: black;

}


